.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appCard {
  width: 400px;
  margin: 0 0 20px 0;
  border-radius: 30px;
  overflow: hidden;
  flex: 1 0 auto;
  background-color: #2e71f0;
  
}

.appCard > img {
  width: 100%;
}

.imageCard {
  composes: appCard;
}

.weatherCard {
  composes: appCard;
  display: flex;
  background-color: white;
}

.weatherLeft {
  display: flex;
  flex: 1;
}
.weatherUpcoming {
  display: flex;
  flex: 1;
}
.weatherUpcoming img {
  width: 40px
}

.buttonCard {
  composes: appCard;
  background-color: #2e71f0;
}

.conditionContainer {
  display: flex;
  flex-direction: column-reverse;
}

.hide {
  display: none;
}